<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/2b518a9b-bbe3-45c0-88aa-f9dacdaba08a/resourceGroups/bankapp/providers/Microsoft.Web/sites/borispacex-bankapp</ResourceId>
    <ResourceGroup>bankapp</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://borispacex-bankapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b5a3abc9-5851-4d8f-9d28-4ca39147ff0d</ProjectGuid>
    <PublishUrl>https://borispacex-bankapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$borispacex-bankapp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>